@model GPS.Domain.ViewModels.AgentDashboardView
@using System.Web;
@using Microsoft.AspNetCore.Mvc.Localization
@using GPS.Web.Agent;
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["AgentDashboard"];
    ViewBag.PageBarTitle = SharedLocalizer["AgentDashboard"];
}

<div id="app" v-cloak>
    <section id="dashboard-ecommerce">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        @*<h4 class="card-title">@Localizer["TotalSensors"]</h4>*@
                    </div>
                    <div class="card-body p-0" style="position: relative;">
                        <div class="row">
                            <div class="col-6 border-right">
                                <div id="sensors-working-view-chart" class="my-2" style="min-height: 205.633px;" v-if="sensorsCount > 0"></div>
                                <div class="row border-top text-center mx-0">
                                    <div class="col-12 py-1">
                                        <p class="card-text text-muted mb-0">@Localizer["TotalWorkingSensors"]</p>
                                        <h3 class="font-weight-bolder mb-0">{{agentDashboard.workingSensorsCount}}</h3>
                                    </div>
                                    @if (_loggedUser.UserPrivilegesTypeIds.Contains((int)AgentPrivilegeTypeEnum.ViewWorkingAndNotWorkingSensorReport))
                                    {
                                        <div class="col-12 mb-1">
                                            <a asp-action="Sensor" asp-controller="Reports" asp-route-sensorStatus="1" class="btn btn-outline-info waves-effect">
                                                @SharedLocalizer["View"]
                                            </a>
                                        </div>
                                    }

                                </div>
                            </div>
                            <div class="col-6">
                                <div id="sensors-notWorking-view-chart" class="my-2" style="min-height: 205.633px;" v-if="sensorsCount > 0"></div>
                                <div class="row border-top text-center mx-0">
                                    <div class="col-12 py-1">
                                        <p class="card-text text-muted mb-0">@Localizer["TotalNotWorkingSensors"]</p>
                                        <h3 class="font-weight-bolder mb-0">{{agentDashboard.notWorkingSensorsCount}}</h3>
                                    </div>
                                    @if (_loggedUser.UserPrivilegesTypeIds.Contains((int)AgentPrivilegeTypeEnum.ViewWorkingAndNotWorkingSensorReport))
                                    {
                                        <div class="col-12 mb-1">
                                             <a asp-action="Sensor" asp-controller="Reports" asp-route-sensorStatus="0" class="btn btn-outline-info waves-effect">
                                              @SharedLocalizer["View"]
                                             </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <div>
                            <h2 class="font-weight-bolder mb-0">{{agentDashboard.warehousesCount}}</h2>
                            <p class="card-text">@Localizer["WarehousesCount"]</p>
                        </div>
                        <div class="avatar bg-light-primary p-2 m-0">
                            <div class="fa fa-warehouse fa-2x">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div>
                            <h2 class="font-weight-bolder mb-0">{{agentDashboard.inventoriesCount}}</h2>
                            <p class="card-text">@Localizer["InventoriesCount"]</p>
                        </div>
                        <div class="avatar bg-light-warning p-2 m-0">
                            <div class="fa fa-boxes fa-2x">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div>
                            <h2 class="font-weight-bolder mb-0">{{agentDashboard.gatewaysCount}}</h2>
                            <p class="card-text">@Localizer["GatewaysCount"]</p>
                        </div>
                        <div class="avatar bg-light-danger p-2 m-0">
                            <div class="fa fa-project-diagram fa-2x">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-12">
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <h2 class="font-weight-bolder mb-0">{{agentDashboard.waslLinkedWarehousesCount}}</h2>
                                <p class="card-text">@Localizer["WaslLinkedWarehousesCount"]</p>
                            </div>
                            <div class="avatar bg-light-success p-2 m-0">
                                <div class="fa fa-link fa-2x">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <h2 class="font-weight-bolder mb-0">{{agentDashboard.waslLinkedInventoriesCount}}</h2>
                                <p class="card-text">@Localizer["WaslLinkedInventoriesCount"]</p>
                            </div>
                            <div class="avatar bg-light-success p-2 m-0">
                                <div class="fa fa-link fa-2x">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <h2 class="font-weight-bolder mb-0">{{agentDashboard.WaslNotLinkedWarehousesCount}}</h2>
                                <p class="card-text">@Localizer["WaslNotLinkedWarehousesCount"]</p>
                            </div>
                            <div class="avatar bg-light-warning p-2 m-0">
                                <div class="fa fa-unlink fa-2x">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <h2 class="font-weight-bolder mb-0">{{agentDashboard.WaslNotLinkedInventoriesCount}}</h2>
                                <p class="card-text">@Localizer["WaslNotLinkedInventoriesCount"]</p>
                            </div>
                            <div class="avatar bg-light-warning p-2 m-0">
                                <div class="fa fa-unlink fa-2x">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="avatar-content">
                                <i class="fa fa-microchip fa-2x"></i>
                            </div>
                            <span class="m-auto p-1"><b>@Localizer["GroupedDevicesPerBrand"]</b></span>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>@Localizer["DeviceType"]</th>
                                            <th>@Localizer["BrandName"]</th>
                                            <th>@Localizer["QTY"]</th>
                                            <th>@Localizer["Percentage"] <small>%100</small></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) in agentDashboard.lsGroupedSensors">
                                            <td>@Localizer["Sensor-HT"]</td>
                                            <td>{{item.sensorBrandName}}</td>
                                            <td>{{item.countPerBrand}}</td>
                                            <td class="col-4">
                                                <div class="progress progress-bar-info mt-2" style="height: 6px">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="70" aria-valuemax="100" v-bind:style="{ width: item.percentageAmongBrands + '%' }"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr v-for="(item,index) in agentDashboard.lsGroupedGateways">
                                            <td>@Localizer["GatewayDevice"]</td>
                                            <td>{{item.gatewayBrandName}}</td>
                                            <td>{{item.countPerBrand}}</td>
                                            <td class="col-4">
                                                <div class="progress progress-bar-danger mt-2" style="height: 6px">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="70" aria-valuemax="100" v-bind:style="{ width: item.percentageAmongBrands + '%' }"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>

            </div>*@
    </section>
</div>


@section css
{
    <!-- Pace style -->
    <link href="@Url.Content("~/lib/pace/pace.css")" rel="stylesheet" />
    <!-- development version, includes helpful console warnings -->
}

@section Scripts
{
    @*<partial name="_VueScript" />*@
    <!-- PACE -->
    <script src="@Url.Content("~/lib/pace/pace.js")"></script>
    <!-- Apex Charts -->
    <script src="@Url.Content("~/app-assets/app-theme/vendors/js/charts/apexcharts.min.js")"></script>
    <script>
        var agentDashboardViewModel = JSON.parse("@(Html.Raw(HttpUtility.JavaScriptStringEncode(Json.Serialize(Model).ToString())))");
    </script>


    <script src="@Url.Content("~/js/home/home.js")" asp-append-version="true"></script>
}
