@model StaticPagedList<GPS.Domain.Views.WarehouseView>

@using X.PagedList;
@using Microsoft.AspNetCore.Mvc.Localization
@using GPS.Web.Admin;
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@inject IViewHelper viewHelper

@{
    var isEnglish = Thread.CurrentThread.CurrentCulture.Name.Equals("en-US");
    var index = Model.FirstItemOnPage;
}

<table id="tbWarehouses" class="table table-bordered table-striped" data-empty="@SharedLocalizer["NoData"]">
    <thead>
        <tr>
            <th></th>
            <th>
                @SharedLocalizer["Fleet"]
            </th>
            <th>
                @SharedLocalizer["Name"]
            </th>
            <th data-breakpoints="xs sm">
                @SharedLocalizer["Location"]
            </th>
            <th data-breakpoints="xs sm">
                @SharedLocalizer["IsActive"]
            </th>
            <th data-breakpoints="xs sm"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@(index)">
                <td>@index</td>
                <td>
                    @(isEnglish ? @Html.DisplayFor(modelItem => item.Fleet.NameEn) : @Html.DisplayFor(modelItem => item.Fleet.Name))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.Latitude.HasValue && item.Longitude.HasValue && item.Latitude != 0.0000000m && item.Longitude != 0.0000000m)
                    {
                        <a target='_blank' href='https://maps.google.com/maps?q=loc:@item.Latitude,@item.Longitude'>@item.Latitude,@item.Longitude</a>
                    }
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        <span class="badge badge-success">@SharedLocalizer["Active"]</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">@SharedLocalizer["NotActive"]</span>
                    }
                </td>
                <td>
                    <a onclick="viewWarehouse(@item.Id, @Model.PageNumber)" style="cursor:pointer" class="btn btn-icon btn-sm rounded-circle btn-outline-info waves-effect mx-1">
                        <i class="fa fa-info-circle"></i>
                    </a>

                    @if (_loggedUser.UserPrivilegesTypeIds.Contains((int)AdminPrivilegeTypeEnum.AddUpdateWarehouses))
                    {
                        <a onclick="editWarehouse(@item.Id, @Model.PageNumber)" style="cursor:pointer" class="btn btn-icon btn-sm rounded-circle btn-outline-warning waves-effect mx-1">
                            <i class="fa fa-edit"></i>
                        </a>

                        @if (item.IsLinkedWithWasl)
                        {
                            <button type="button" onclick="ConfirmUnlinkWithWasl(@item.Id, @Model.PageNumber)" class="btn btn-outline-danger btn-xs">
                                <i class="fa fa-link"></i>
                            </button>
                        }
                        else
                        {
                            @if (_loggedUser.UserPrivilegesTypeIds.Contains((int)AdminPrivilegeTypeEnum.DeleteWarehouses))
                            {
                                <button type="button" onclick="ConfirmDelete(@item.Id, @Model.PageNumber)"  class="btn btn-icon btn-sm rounded-circle btn-outline-danger waves-effect mx-1">
                                    <i class="fa fa-trash-alt"></i>
                                </button>
                            }

                            <button type="button" onclick="ConfirmLinkWithWasl(@item.Id, @Model.PageNumber)" class="btn btn-icon btn-sm rounded-circle btn-outline-success waves-effect mx-1">
                                <i class="fa fa-link"></i>
                            </button>
                        }
                    }
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>
<partial name="~/Views/Partial/_Pager.cshtml" model="@Model" />
